<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>To-Do: Landing</title>
</head>
<body>
<header class="main-header">
    <a th:href="@{/index}" class="main-header-logo"><img src="/static/img/iba-tech-logo-white.svg"
                                                                 alt="IBA Tech Academy"></a>
</header>
<main class="start-content">
    <div>
        <div class="start-content-row aic">
            <div class="start-content-welcome-img-b">
                <img src="/static/img/landing-background.svg" class="start-content-welcome-img" alt="#">
            </div>
            <div class="start-content-welcome-text-b text-right">
                <h1 class="welcome-title">Welcome</h1>
                <p class="welcome-text">We are happy to see you.Registration email has sent to your email address.
                    Please check your email to confirm your registration</p>
                <a th:href="@{/index}" class="btn btn-dark">Go to login page</a>


            </div>
        </div>
    </div>
</main>
</body>
</html>